* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #191414;
}

h1 span {
    color: #D81A1A;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.error-message {
    color: red;
    margin: 15px 0 10px 0;
    font-size: 14px;
}

.error-message::after {
    content: ".";
    opacity: 0;
}

.form-container {
    margin-top: 20px;
}

/* .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

input:focus {
    border: none;
}

.form-container .input {
    border: none;
    width: 80%;
    border-radius: 8px;
    padding: 12px 20px;
    background-color: #cac9c9;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-container .input:focus {
    outline: none;
}

.form-container .input::placeholder {
    color: #a09f9f;
    opacity: 1;
}

.form-container .submit {
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    background-color: #D81A1A;
    font-weight: 600;
    color: #191414;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 85px;
    transition: all 0.1s ease-in-out;
}

.form-container .submit:hover {
    background-color: #620000;
    cursor: pointer;
}

.form-container .submit:focus {
    outline: none;
}