* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    display: block;
}

.wrapper_special {
    display: flex;
}

.content_special {
    display: flex;
    align-items: center;
    margin: 0 8px;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

.email_info {
    padding: 3vw 1em;
    background-color: #d6d6d6;
    border-radius: 1em;
    margin: 1vw;
}

.email_special {
    font-size: 2em;
    margin: 1vw 1em;
}
.email_info .row_special {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.email_info .data_special {
    background-color: #d81a1a;
    width: 5vw;
}

.email_info .annotation_special {
    width: fit-content;
}

.pagename_special {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: fit-content;
    border-bottom: 5px solid black;
}

.table_special {
    width: fit-content;
    display: flex;
    justify-content: space-around;
}

.column_special {
    width: fit-content;
    margin: 0 5vw;
}

.row_special {
    display: flex;
    max-width: 20em;
}

.annotation_special {
    text-align: center;
    width: 10em;
}

.data_special {
    background-color: #d6d6d6;
    width: 100%;
    border-radius: 0.5em;
    text-align: center;
}

.diagram_header {
    width: 100%;
}

/* Mobile version */
@media screen and (max-width: 600px) {

    .content_special {
        flex-direction: column;
    }

    .row_special {
        margin: 1vw 0;
    }

    .wrapper_special{
        font-size: 3vw;
    }

    .pagename_special {
        font-size: 2em;
    }
    }


/* Desktop version */
@media screen and (min-width: 600px) {

    .content_special {
        flex-direction: row;
    }

    .row_special {
        margin: 3vw 0;
    }

    .wrapper_special{
        font-size: 1vw;
    }

    .pagename_special {
        font-size: 6em;
        margin: 0.5em 1vw;
    }

    .content_header {
        margin: 10vw 0;
    }
    }
