ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.flashes {
    background-color: none;
}

ul.flashes li {
    float: none;
    text-align: center;
}

ul.flashes li.error {
    background-color: #D81A1A;
    color: white;
}

ul.flashes li.info {
    background-color: lightblue;
    color: black;
}

ul.flashes li.warning {
    background-color: orange;
    color: white;
}

ul.flashes li.success {
    background-color: greenyellow;
    color: white;
}

/* li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */
.logout{
    float: left;
}
/* li a:hover:not(.active) {
    background-color: #111;
} */

/* .active {
    background-color: #D81A1A;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #5e5e5e, #868686, #c9c9c9, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

.progress{
    text-align: center;
}

button {
    background-color: #555555;
    color: black;
    height: 60px;
    width: 140px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

form {
    width: 250px;
    text-align: center;
    border: none;
    appearance: none;
    padding: 12px;
    font-size: 14px;
    color: black;
    z-index: 15;
    position: relative;
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
}

input {
    outline: none;
    display: block;
    width: 100%;
    border: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
    color: gray;
    font-family: inherit;
    font-size: inherit;
    line-height: 13px;
}

input[type=text]:focus {
    background-color: white;
}
input[type=text]{
    background: rgb(227, 227, 227);
    margin-bottom: 5px;
    margin-top: 5px;
}
