
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: right;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
    }
    
    .active {
        background-color: #D81A1A;
    }

.habit .count {
  display: none;
}

.habit input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.habit .delete {
  margin-left: 10px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  font-size: 20px;
  line-height: 0.7;
  text-align: center;
  width: 20px;
  height: 20px;
}

.habit .delete:hover {
  background-color: #ff6666;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.day-button {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  color: #333;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.day-button.active {
  background-color: red;
  color: white;
}

/* Styles for large screens */
div.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
} 

.btn-group .button {
  background-color: #e7e7e7; 
  border: 1px solid black;
  color: black;
  width: auto;
  padding: 0px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
}

.btn-group .button:hover {
  background-color: #f44336;
  color: white;
}

/* Styles for smaller screens */
@media only screen and (max-width: 768px) {
  .btn-group .button {
      padding: 0px 50px;
      font-size: 30px;
  }
}
