ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.flashes {
    background-color: none;
}

ul.flashes li {
    float: none;
    text-align: center;
}

ul.flashes li.error {
    background-color: #D81A1A;
    color: white;
}

ul.flashes li.info {
    background-color: lightblue;
    color: black;
}

ul.flashes li.warning {
    background-color: orange;
    color: white;
}

ul.flashes li.success {
    background-color: greenyellow;
    color: white;
}

.logout{
    float: left;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

.goals{
    text-align: left;
}

.progress{
    text-align: center;
}

button {
    background-color: #8a8a8a;
    color: white;
    height: 60px;
    width: 140px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

form {
    width: 250px;
    text-align: center;
    border: none;
    appearance: none;
    padding: 12px;
    font-size: 14px;
    color: black;
    z-index: 15;
    position: relative;
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
}

input {
    outline: none;
    display: block;
    width: 100%;
    border: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
    color: gray;
    font-family: inherit;
    font-size: inherit;
    line-height: 13px;
}

input[type=text]:focus {
    background-color: white;
}
input[type=text]{
    background: rgb(227, 227, 227);
    margin-bottom: 5px;
    margin-top: 5px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}
.row.content {height:auto;} 
}

.row.content{
    height: auto;
}
.round-button {
    bottom: 23px;
    right: 28px;
    width: 120px;
    position: fixed;
}
.round-button:hover {
    cursor: pointer
}
.round-button-circle {
    width: 100%;
    height: 120px;
    border-radius: 50%;
    border:10px solid #c2c3c5;
    overflow: hidden;
    display: flex;
    background: #828080; 
}
.round-button-circle:hover {
    background:#555555;
}
.round-button .button i {
    color: #FFF;
}
.round-button .button {
    display: flex;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 280px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #f1f1f1;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #D81A1A;
}

.delete i {
    color: #FFF;  
    text-align: center;  
}

.goalsList {
    display: flex;
    flex-wrap: wrap;
}

.header {
    margin: 70px;
}

.goalsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 70px;
}

.columns {
    flex: 0 0 67%;
}

.columns p {
    text-align: left;
}

.columns.completed {
    flex: 0 0 33%;
}

.goal {
    flex: 0 0 50%;
}

.completed .goal {
    flex: 0 0 100%;
}

.completed .goal .description {
    background-color: #0C7817;
    color: #FFF;
}

.lists {
    display: flex;
    flex-wrap: wrap;
}

.list {
    flex: 0 0 33%;
}

.delete {
    background-color: #555555;
    color: white;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.update {
    background-color: #555555;
    color: white;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.description {
    background-color: #acacac;
    font-size: 25px;
    border-radius: 5%;
    margin: 4px 2px;
    padding: 7px;
    display: inline-block;
    max-width: 50%;
    min-width: 25%;
    color: white;
    text-align: center;
}