<!DOCTYPE html>
<html>
<head>
    <title>Goals per month</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <ul>
        <li style="float:right"><a class="active" href="#about">About</a></li>
        <li><a href="#habits">Habits</a></li>
        <li><a href="#goals">Goals</a></li>
        <li><a href="#diary">Diary</a></li>
        <li><a href="#home">Home</a></li>
        </ul>
<h2>Goals per month</h2>

</body>
</html>
