<html>
    <head>
        <title>Goals for {{list_name}} list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style_goals.css">
    <script type="text/javascript" src="../static/goals_custom.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="/progress">Your progress</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><a href="/diary_home">Diary</a></li>
                  <li><a href="/goals">Goals</a></li>
                  <li><a href="#">Habits</a></li>
                  <li><a href="/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>

        <div class="messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
        
        <h1 style="font-size: 70px; margin-left:100px;text-decoration: underline;">Goals for {{list_name}} list</h1>
        <h3>Completed goals</h3>
        <ul class="goalsList">
            {% for goal in goals %}
                {% if goal.status == 'completed' %}
                    <li class="goal">
                        <div class="description">{{ goal.description }}</div>
                        <button class="delete" data-goal-id="{{goal.goal_id}}">Delete</button>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        
        <h3>Your goals in progress</h3>
        
        <ul class="goalsList">
            {% for goal in goals %}
                {% if goal.status != 'completed' %}
                    <li class="goal">
                        <button class="update" data-goal-id="{{goal.goal_id}}">Complete</button>
                        <div class="description">{{ goal.description }}</div>
                        <button class="delete" data-goal-id="{{goal.goal_id}}"><i class="fa-solid fa-xmark"></i></button>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="buttonContainer">
          <div class="round-button">
            <div class="round-button-circle">
              <div id="createFormOpenButton" class="button"><i class="fa-regular fa-plus"></i></div>
            </div>
          </div>
        </div>

        <div class="form-popup" id="createForm">
          <form action="/goals/goal" class="form-container" method="post">
            <h1>Create new goal</h1>
            <label for="list"><b>Type in the description for your goal.</b></label>
            <input type="text" name="goal">
            <input type="hidden" value="{{list_name}}" name="list_name">

            <input type="submit" value="Create new goal">
            <button id="createFormCloseButton" type="button" class="btn cancel">Close</button>
          </form>
        </div>
    </body>
</html>
    