<!DOCTYPE html>
<html>
<head>
    <title>Goals</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../static/style_goals.css">
</head>
<body>
    <ul style="background-color: white;">
      <li style="float:right"><a class="active" href="#about">About</a></li>
      <li><a href="#habits">Habits</a></li>
      <li><a href="#goals">Goals</a></li>
      <li><a href="#diary">Diary</a></li>
      <li><a href="#home">Home</a></li>
    </ul>
  
    <div class="messages">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>

    <h2>Goals</h2>
    {% if lists%}
      {% for list in lists %}
      <a href="/{{ list.list_url }}" ><button>{{list.list_name}}</button></a>
      {% endfor %}
    {%endif%}

    <form action = "" method = "post">
      <div class="folder">
        <label for="list">Enter new folder name for your goals.</label>
        <input type="text" name="list">
      </div>
      <input type="submit" value="Create new folder.">
    </form>

</body>
</html>
