<!DOCTYPE html>
<html>
<head>
  <title>Habits List</title>
</head>
<body>
  <h1>Habits List</h1>
  <form method="POST" action="{{ url_for('index') }}">
    {{ task_form.csrf_token }}
    {{ task_form.task.label }} {{ task_form.task(size=30) }}
    {{ task_form.submit }}
  </form>
  <form method="POST" action="{{ url_for('index') }}">
    {{ habit_form.csrf_token }}
    <ul>
      {% for habit in habit_form.habits %}
      <li>{{ habit.name }} <input type="checkbox" name="completed-{{ habit.habitid }}" value="{{ habit.name }}"></li>
      {% endfor %}
    </ul>
    <input type="submit" name="update" value="Update Habits">
  </form>
</body>
</html>
