<!DOCTYPE html>
<html>
<head>
    <title>Habits List</title>
	<link rel="stylesheet" type="text/css" href="static/habits.css">
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
</head>
<body>
    <h1>Habits List</h1>
    <p><span id="current-date"></span></p>
    <div class="button-container">
        <button class="day-button {{ 'active' if datetime.datetime.today().weekday() == 0 else '' }}">M</button>
        <button class="day-button {{ 'active' if datetime.datetime.today().weekday() == 1 else '' }}">T</button>
        <button class="day-button {{ 'active' if datetime.datetime.today().weekday() == 2 else '' }}">W</button>
        <button class="day-button {{ 'active' if datetime.datetime.today().weekday() == 3 else '' }}">T</button>
        <button class="day-button {{ 'active' if datetime.datetime.today().weekday() == 4 else '' }}">F</button>
        <button class="day-button {{ 'active' if datetime.datetime.today().weekday() == 5 else '' }}">S</button>
        <button class="day-button {{ 'active' if datetime.datetime.today().weekday() == 6 else '' }}">S</button>
    </div>
    <div id="habits-container">
        <h2>Habits</h2>
        <ul id="habits-list">
            {% for habit in habits %}
            <li>
                <span>{{ habit.name }}</span>
                <input type="hidden" name="count" value="{{ habit.count }}">
            </li>
            {% endfor %}
        </ul>
    </div>
    
    
    <button id="add-button">+</button>
    <form method="POST" action="{{ url_for('index') }}">
        {{ task_form.csrf_token }}
        {{ task_form.task.label }} {{ task_form.task(size=30) }}
        {{ task_form.submit }}
      </form>
      <form method="POST" action="{{ url_for('index') }}">
        {{ habit_form.csrf_token }}
        <ul>
          {% for habit in habit_form.habits %}
          <li>{{ habit.name }} <input type="checkbox" name="completed-{{ habit.habitid }}" value="{{ habit.name }}"></li>
          {% endfor %}
        </ul>
        <input type="submit" name="update" value="Update Habits">
      </form>
    <script>
        //Set a current date
        var today = new Date();
        var currentDate = "{{ today_str }}";
        // Set date in HTML element
        document.getElementById("current-date").innerHTML = currentDate;

        document.getElementById("current-date").innerHTML = currentDate;
    </script>


    <div class="fixed">
        <div class="btn-group">
            <a href="link1">
                <button class="button">Home</button>
            </a>
            <a href="link2">
                <button class="button">Diary</button>
            </a>
            <a href="link3">
                <button class="button">Goals</button>
            </a>
            <a href="link4 - same link">
                <button class="button">Habits</button>
            </a>
        </div>
    </div>
 
</body>
</html>
