<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Log <span>In<span/></h1>
            <div class="form-container">
                <form action = '/' method = "POST">
                <input class="input" type ='text' name='email' placeholder = 'Email' ><br>
                <input class="input" type ='password' name='password' placeholder ='Password'>
                <input type ='submit' class = 'submit'>
                </form>             
                <p class='account'>Don't have an account? <a href = '/register'>Register</a></p>
            </div>
            <div class="error-message"></div>
        </div>
      </div>
     
</body>
</html>