<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/auth.css">
        <script src="{{url_for('static', filename='custom.js')}}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col">
                <section>
                        <h1><p>About <span>PRO</span>file</p></h1>
                        <p style="font-size: 19px;">Introducing "PROfile" - a web application designed to help you set and achieve your personal goals, develop positive habits, and track your progress towards your desired outcomes. With PROfile, you can create personalized goals and set specific targets, such as completing a project, losing weight, reading a book, or learning a new skill. You can also see all the completed goals to keep track of what you have already achieved!</p>
                    </section>
              </div>
              <div class="col-6">
                <h1>Log <span>In</span></h1>
                    <div class="form-container">
                        <form id='form' action = '/login' method = "POST">
                        <input class="input" type ='text' name='email' placeholder = 'Email' ><br>
                        <input class="input" type ='password' name='password' placeholder ='Password'>
                        <input type ='submit' class = 'submit' placeholder = 'Send'>
                        <p class='account'>Don't have an account? <a href = '/signup'>Register</a></p>
                        </form>
                        <div class="error-message"></div>
                    </div>
              </div>
            </div>
    </body>
</html>