<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title>Diary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/responce2.css">

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */ 
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }
    
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 450px}

        .table>tbody>tr>td{
            padding: 0;
            border: none;
        }

        .row{
            width: 50%;
        }

        #bigform{
            padding-right: 10%;
            padding-top: 15%;
            text-align: center;
        }

        #submit{
            margin: 0px;
        }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/progress">Your progress</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/diary_home">Diary</a></li>
              <li><a href="/goals">Goals</a></li>
              <li><a href="/habits">Habits</a></li>
              <li><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>

    <div class='continer-fluid'>
        <div class='card'>
            <table class='table'>
                <tr>
                    <td class='row'>
                        <div>
                            <img class ='img-fluid rounded-start' src='static/images/diary.avif'>
                        </div>
                    </td>
                    <td class='row' id='bigform'>
                        <div>
                            <h1 style="font-size: 70px; margin-bottom:100px;text-decoration: underline;">My diary</h1>
                            <table class='table'>  
                                <tr>
                                    <td class='row'>
                                        <h1>Put in a date to look for</h1>
                                        <div class="form-container col">
                                            <form id='form' action = '/diary_info' method = "POST">
                                                <table class='table'>
                                                    <tr class='row'>
                                                        <td>
                                                            <input class="input" type ='text' id='date' name='date' placeholder = '2023-03-28' ><br>
                                                        </td>
                                                        <td>
                                                            <input type ='submit' class = 'submit' id='submit' placeholder = 'Send'>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>             
                                        </div>
                                    </td>

                                    <td class='row'>
                                        <h1>Add info about today</h1>
                                        <div class="form-container">
                                            <form id='form' action = '/diary' method = "POST">
                                                <input type ='submit' class = 'submit' id='submit' placeholder = 'Add info'>
                                            </form>             
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                <tr>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>